{% extends 'base.html.twig' %}

{% block title %}Edit Articles{% endblock %}

{%block body%}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="/" class="btn btn-secondary btn-block mt-2">Back</a>

{%endblock%}
